/***** ----- Colors ----- *****/
$nav-items-font-color: #000;
$nav-menu-bg-color: #fff;
/***** ----- End Colors ----- *****/

/******************** width < 768px ********************/
@media(max-width: 768px) {

  /***** ----- Start Main Header ----- *****/
  .mainHeader {

    .mainHeader--footer__white {
      height: 70px;
      border-top-width: 50px;
    }

    /* Nav menu */
    .mainHeader--nav-menu {
      ul {
        display: none!important;
      }

      .mainHeader--nav-menu-item {
        padding: 20px 50px;
        text-align: center;
        color: $nav-items-font-color;
      }

      .mobileNavMenu {
        display:block!important;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: $nav-menu-bg-color;
      }
    }

    .nav-menu--mobile__visible {
      display: block!important;
      font-size: 32px;
    }

    /* Main Header slider */
    .carousel.slide {
      .carousel-control-next.hideSliderControl {
        display: none;
      }
    }

    /* Main Header Content*/
    .mainHeader--content {
      margin-top: -100px;
      padding: 0 20px;

      .mainHeader--content--title {
        font-size: 36px;
      }

      .mainHeader--content--afterTitle {
        max-width: 200px;
      }

      .mainHeader--separator {
        margin: 10px 0;
      }

      .mainHeader--buttonGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        a:first-child {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }

  }
  /***** ----- End Main Header ----- *****/

  /***** ----- Our history ----- *****/
  .ourHistory {
    padding: 0 20px;
    .ourHistory-image, .ourHistory-content {
      width: 100%;
      padding: 0;

      h3 {
        margin: 20px 0;
      }

      a {
        margin-top: 30px;
      }
    }

    .ourHistory-image {
      background-size: 100% 100%;
      margin-bottom: 20px;
    }

  }

  /***** ----- End Our history ----- *****/

  /***** ----- Our service ----- *****/
  .ourService {
    margin-top: 70px;
    padding: 50px 20px;

    .ourService--text-part {
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;

      h3 {
        font-size: 24px;
        border-left: 6px solid transparent;
        padding: 0;
      }

      h5 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        padding-top: 80px;
        line-height: 2;
      }
    }

    .ourService--separator--item {
      position: absolute;
      display: block;
      box-sizing: content-box;
      z-index: 30;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }

    .ourService--img-part {
      display: none;
    }
  }

  /***** ----- End Our service ----- *****/
}
/******************** End width < 768px ********************/


/******************** width < 425px ********************/
@media(max-width: 425px) {

  /***** ----- Our history ----- *****/
  .ourHistory {

    .ourHistory-image {
      height: 300px;
    }

    .ourHistory-content {
      a {
        margin: 0 auto;
      }
    }

  }
  /***** ----- End Our history ----- *****/
}
  /******************** End width < 425px ********************/

/********************  Height < 667px ********************/
@media(max-height: 667px){
  /***** ----- Start Main Header ----- *****/
  .mainHeader {

    /* Main Header Content*/
    .mainHeader--content {

      .mainHeader--content--beforeTitle {
        font-size: 18px;
      }

      .mainHeader--content--afterTitle {
        font-size: 12px;
        line-height: 1.5;
      }

      .mainHeader--content--title {
        font-size: 24px;
      }
    }
  }
  /***** ----- End Main Header ----- *****/
}
/******************** End height < 667px ********************/